*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    margin: 15px;
    padding: 20px;
    text-align: center;
    background-color: #ddd;
}
.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 100px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.column-image{
    float: left;
    width: 33.3%;
    padding-top: 50px;
}
.column-description{
    float: left;
    width: 66.7%;
    padding: 50px;
}
.photos{
    margin-right: auto;
    margin-left: auto;
    height: 100pt;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(187, 187, 187);
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.desc {
    padding: 15px;
    text-align: center;
    color: white;
}
.sosmed:hover{
    transform: rotateY(20deg);
}
.parent-table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
th, td, thead, tbody{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: coral;
}
ul li{
    list-style: none;
}
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    color: black;
}
.particles-js-canvas-el{
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 0;
}
.button-days{
    position: fixed;
    right: 0;
    bottom: 0;
}
.mini-element{
    margin: 10px;
    width: 100%;
}
input[type=text]{
    float: right;
    position: relative;
    right: 0;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn.onlinewebfonts.com/svg/img_536022.png');
    background-size: 18px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 18px 10px 38px;
    transition: 0.4s ease-in-out;
    z-index: 1;
}
input[type=text]:focus{
    width: 100%;
}
small{
    float: right;
}
@media screen and (max-width: 600px) {
    .column-image, .column-description {
      width: 100%;
    }
}
